@use "../../styles/partials/variables.scss" as *;

.menu-bar {
    width: 100%;
    height: 39px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: $white;
    font-size: 14px;
    line-height: 12px;

    &__box {
        display: flex;
        justify-content: space-between;
        background-color: $menubar-navy;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__stack {
        background-image: url('../../assets/icons/hamburgersmall.png');
        background-repeat: no-repeat;
        height: 17px;
        width: 17px;
    }

    &__item {

        &--bold {
            font-weight: 700;
        }
    }

    &__image {
        background-image: url('../../assets/icons/menu-bar-image.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 490px;
    }
}